@model Factory
@{
    ViewData["Title"] = "Edit Factory";
}
<div class="container shadow p-5">
    <div class="row">
        <h2>Edit Factory</h2>
    </div>

    <form method="post" asp-action="Edit">
        <div class="form-row">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="FactoryId" placeholder="Enter factory ID" readonly="readonly" />
                <label asp-for="FactoryId">Factory Id</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="FactoryName" placeholder="Enter factory name" />
                <label asp-for="FactoryName">Factory Name</label>
                <span asp-validation-for="FactoryName" class="alert-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <a asp-controller="Factory" asp-action="Index" class="btn btn-primary">Back</a>
    </form>
</div>
